# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Rust build artifacts
/target

/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore all tempfiles.
/tmp/*
!/tmp/.keep

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/.project
